/*mouse hover*/
	a:link
	{
		text-decoration:none;
		color:black;
	}
	a:visited
	{
		text-decoration:underline;
		color:black;
	}
	
	a:hover
	{
		background-color:yellow;
	}
			
	a:active{
		background-color:yellow;
		color:red;
	}

a{
 text-decoration: none;
}



* {
  box-sizing: border-box;
}

div{

  text-align: justify;
}
h1{font-size:2em;}
h3 {

	font-size:20px;
	color:orange;
	}


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
 background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  /*background-color: #666;*/
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 10%;
  height: 1000px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 30px;
}

.navi li {
		font-size:18px;
		text-align:center;
		padding:17px; 
		font-weight:bold; 
		text-align:center;
}

/* Style the list inside the menu */
nav ul {
		list-style-type: none;
		padding: 0px;
		
}

article {
  float: left;
  padding: 10px;
  width: 90%;
  background-color: #f1f1f1;
  height: 1000px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

	table{
		width:30%;
		border:1px solid #222;
		border-collapse:collapse;
		}

		thead{
		background:#eee;
		}
		
		th,td {
		border:1px solid #ccc;
		padding:5px;
		font-size:0.8em;}